/* 页面整体布局 */

body {
    font-family: unifont;
    min-height: 100vh;
    /* 让页面至少填满视口 */
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    flex-direction: column;
    /* 纵向排列子元素 */
    background-color: #000000;
    background-image: url('background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    /* 防止内容直接贴边 */
    overflow-y: auto;
    /* 启用滚动 */
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 1.5s ease-out forwards;
    position: relative;
    max-width: 100%;
    backdrop-filter: blur(5px);
}


/* 标题样式 */

h1 {
    color: #a75fff;
    text-align: center;
    /* 水平居中标题文本 */
    margin: 0;
    /* 去掉默认的外边距 */
}


/* 分界线样式 */

hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #5f7fff, #c57bfe);
    margin: 20px 0;
}

hr:hover {
    background: linear-gradient(to right, #625fff, #c57bfe);
}


/* 动画效果 */

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* 其他文本样式 */

h2,
h3,
h4,
h5,
h6,
p {
    position: relative;
    text-align: center;
    margin: 0 0 10px 0;
    color: #ffffff87;
    line-height: 1.6;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: color 0.3s ease;
}

code {
    position: relative;
    text-align: center;
    margin: 0 0 10px 0;
    color: #4caeff;
    line-height: 1.6;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: color 0.3s ease;
    font-family: unifont;
}

h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
code:hover,
p:hover {
    color: #ffffffff;
}


/* 修改超链接样式 */

a {
    color: #2583cc;
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: center;
    position: relative;
    margin: 0 0 10px 0;
    line-height: 1.6;
}

a:hover {
    color: #ffcc00;
    text-decoration: underline;
}


/* 自定义滚动条样式 */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}