/* 页面整体布局 */

body {
    font-family: unifont;
    min-height: 100vh;
    /* 让页面至少填满视口 */
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    flex-direction: column;
    /* 纵向排列子元素 */
    background-color: #000000;
    background-image: url('background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    /* 防止内容直接贴边 */
    overflow-y: auto;
    /* 启用滚动 */
}


/* 标题样式 */

.Headers h1 {
    color: #a75fff;
    text-align: center;
    /* 水平居中标题文本 */
    margin: 0;
    /* 去掉默认的外边距 */
}


/* 分界线样式 */

hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #5f7fff, #c57bfe);
    margin: 20px 0;
}


/* 设置文本容器的滑动和渐显效果 */

.Headers,
.Body {
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 1.5s ease-out forwards;
    position: relative;
    max-width: 100%;
    /* 确保容器不会超出宽度 */
}


/* 动画效果 */

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* 其他文本样式 */

.Body h2,
.Body h3,
.Body h4,
.Body h5,
.Body p {
    position: relative;
    text-align: center;
    margin: 0 0 10px 0;
    color: #ffffff87;
}


/* 修改超链接样式 */

a {
    color: #2583cc;
    text-decoration: none;
}